@import "base/mixins";
@import "base/variables";
@import "base/base";
@import "base/typography";

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    padding: 18rem 4.3rem 0;
}

.blog-page {
    padding: 20rem 4.8rem 12rem;
}

.single-blog {
    padding: 0 4.8rem 4.8rem;
}


.hero-img {
    border-radius: 0 0 200px 200px;
}

.reversedimg {
    border-radius: 300px 0 0 300px;
}

.not-reversedimg {
    border-radius: 0 300px 300px 0;
}

.reversed {
    padding-left: 4.8rem;
}

.not-reversed {
    padding-right: 4.8rem;
}

.article-intro {
    padding: 35rem 4.8rem 0;
    height: 83rem;
}